<div mat-dialog-content class="formNewUser">
  <mat-form-field color="accent">
    <input matInput placeholder="Nombre" [(ngModel)]="user.nombre" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Apellido" [(ngModel)]="user.apellido" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput type="password" placeholder="Contrasena" [(ngModel)]="user.pass" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="user.email">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Por favor, un mail como la gente
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <input type="tel" matInput placeholder="Telefono"[(ngModel)]="user.telefono" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Cargo" [(ngModel)]="user.rol" required>
      <mat-option *ngFor="let role of roles" [value]="role.viewValue">
        {{role.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Barberia" [(ngModel)]="user.barber_id" required>
      <mat-option *ngFor="let barbershop of barbershops" [value]="barbershop.viewValue">
        {{barbershop.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-action class="botonForm">
<button mat-flat-button color="accent" (click)="onSubmit()" mat-dialog-close>Crear</button>
</div>
