<mat-toolbar color="primary" class="layout">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
    </button>
    barber-app
    <span class="espacioToolbar"></span>
    <mat-icon>notifications</mat-icon>

  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="contenedor" [hasBackdrop]="true">
  <mat-drawer #drawer class="sidenav">
    <div class="contenidoSideNav">
    <button mat-icon-button>
      <mat-icon>dashboard</mat-icon>
      Planilla
    </button>
    <br>
    <button mat-icon-button>
      <mat-icon>supervisor_account</mat-icon>
      Clientes
    </button>
    <br>
    <button mat-icon-button>
      <mat-icon>insert_emoticon</mat-icon>
      Perfil
    </button>
    <br>
    </div>
  </mat-drawer>
  <mat-drawer-content>
  </mat-drawer-content>
</mat-drawer-container>
