.example-card {
  max-width: 100%;
  align-content: center;
}
.headerstilo{
  font-size: larger;
  font-style: unset;
}
.botoedit{
  align-content: right;
}

.fecha{
  padding: 5%;
}

.long{
  min-height: 100vh;
}
