<div class="newTurnForm" [formGroup]="newTurn">


  <mat-form-field color="accent">
    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Dia">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input type="time" atp-time-picker placeholder="Hora" theme="dark" matInput formControlName="hour" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Barberia" formControlName="barber_id" required>
      <mat-option *ngFor="let barbershop of barbershops" [value]="barbershop.value">
        {{barbershop.viewValue}}
      </mat-option> 
    </mat-select>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Tipo de corte" formControlName="turn_type" required>
      <mat-option *ngFor="let turn_type of turn_types" [value]="turn_type.value">
        {{turn_type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field color="accent">
    <mat-select placeholder="Barbero" formControlName="barbero_id" required>
      <mat-option *ngFor="let barber of barbers" [value]="barber.id">
        {{barber.nombre}} {{barber.apellido}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Cliente" formControlName="cliente_id" required>
      <mat-option *ngFor="let client of clients" [value]="client.id">
        {{client.nombre}} {{client.apellido}}
      </mat-option>
    </mat-select>
  </mat-form-field>


<div class="botonForm">
  <button mat-flat-button color="accent" (click)="onSubmit()">Reservar</button>
</div>

</div>