<div class="newTurnForm">

  <mat-form-field color="accent">
    <input matInput [matDatepicker]="dp3" placeholder="Elegir fecha" [(ngModel)]="turn.date" disabled>
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    <!--<input matInput [matDatepicker]="picker" placeholder="Elegir fecha" >-->
    <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #picker></mat-datepicker>-->
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Barberia" [(ngModel)]="turn.barber_id" required>
      <mat-option *ngFor="let barbershop of barbershops" [value]="barbershop.value">
        {{barbershop.viewValue}}
      </mat-option> 
    </mat-select>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Tipo de corte" [(ngModel)]="turn.turn_type_id" required>
      <mat-option *ngFor="let turn_type of turn_types" [value]="turn_type.value">
        {{turn_type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field color="accent">
    <mat-select placeholder="Barbero" [(ngModel)]="turn.barbero_id" required>
      <mat-option *ngFor="let barber of barbers" [value]="barber.value">
        {{barber.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field color="accent">
    <input type="text" matInput placeholder="Nombre y Apellido" [(ngModel)]="turn.cliente" required >
  </mat-form-field>

</div>
<div class="botonForm">
  <button mat-flat-button color="accent" (click)="onSubmit()">Reservar</button>
</div>

