<div class="formNewUser">
  <mat-form-field color="accent">
    <input matInput placeholder="Nombre" [(ngModel)]="user.nombre" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Apellido" [(ngModel)]="user.apellido" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <span matPrefix>+54 &nbsp;</span>
    <input type="tel" matInput placeholder="Telefono"[(ngModel)]="user.telefono" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="user.email">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Por favor, un mail como la gente
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

</div>
<div class="botonForm">
<button mat-flat-button color="accent" (click)="onSubmit()">Crear</button>
</div>
