<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/newturn">
        <mat-icon>add_box</mat-icon>
        Nuevo Turno
      </a>
      <a mat-list-item href="/planning">
        <mat-icon>dashboard</mat-icon>
        Planilla
      </a>
      <a mat-list-item href="/users">
        <mat-icon>supervisor_account</mat-icon>
        Clientes
      </a>
      <a mat-list-item
         routerLink="/newclient"
         (click)="drawer.toggle()">
        <mat-icon>person_add</mat-icon>
        Nuevo Cliente
      </a>
      <a mat-list-item
         routerLink="/newuser"
         (click)="drawer.toggle()">
        <mat-icon>supervised_user_circle</mat-icon>
        Nuevo Usuario
      </a>
      <a mat-list-item href="/profile/:id">
        <mat-icon>mood</mat-icon>
        Perfil
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Barbero</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->

    <footer class="footer mt-auto py-1">
      <p>El Chiringuito desarrollos</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

