.example-card {
  max-width: auto;
}
.headerstilo{
  font-size: larger;
  font-style: unset;
}
.botoedit{
  padding: auto;
}

.button{
    bottom: 4%;
    align-items: flex-end;
    position: fixed;
    right: 4%;
}