<div mat-dialog-content class="formNewUser">
    <mat-form-field color="accent">
      <input matInput placeholder="Nombre" [(ngModel)]="client.nombre" required>
    </mat-form-field>
  
    <mat-form-field color="accent">
      <input matInput placeholder="Apellido" [(ngModel)]="client.apellido" required>
    </mat-form-field>
  
    <mat-form-field color="accent">
      <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="client.email">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Por favor, un mail como la gente
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field color="accent">
      <input type="tel" matInput placeholder="Telefono" [(ngModel)]="client.telefono" required>
    </mat-form-field>
  
  </div>
  <div mat-dialog-actions aling="end">
      <button mat-flat-button mat-dialog-close color="warn">Cancelar</button>
      <button mat-flat-button color="accent" (click)="modificar()" mat-dialog-close>Modificar</button>
  </div>