<div mat-dialog-content class="formNewUser">
  <mat-form-field color="accent">
    <input matInput placeholder="Nombre" [(ngModel)]="user.nombre" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Apellido" [(ngModel)]="user.apellido" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="user.email">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Por favor, un mail como la gente
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <input type="tel" matInput placeholder="Telefono" [(ngModel)]="user.telefono" required>
  </mat-form-field>

</div>
<div mat-dialog-actions aling="end">
    <button mat-flat-button color="warn">Cancelar</button>
    <button mat-flat-button color="accent">Modificar</button>
</div>